@import "../../assets/styles/breakpoints.scss";

.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 0;
  

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: $tablet-breakpoint) {
    margin: 10px;
    width: 400px;
  }
}