@import "../../assets/styles/breakpoints.scss";

.navigation {
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: 10px;

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-links-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      display: flex;
      flex-direction: column;
      padding: 10px 15px;
      cursor: pointer;
      transition: all .5s;

      .nav-link-border {
        width: 0%;
        background-color: black;
        height: 1px;
        transition: all .3s;
      }

      &:hover {
        .nav-link-border {
          width: 100%;
        }
      }
    }
  }

  @media (min-width: $tablet-breakpoint) {
    margin: 30px;
  }
}
